<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title>List of all persons</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .row {
            margin-top: 10px;
        }
    </style>

    <script>
        function updatePassport() {
            const idInput = document.getElementById("id-input")
            const seriesInput = document.getElementById("series-input")
            const numberInput = document.getElementById("number-input")
            const issuedInput = document.getElementById("issued-input")
            const dateOfIssueInput = document.getElementById("date-of-issue-input")
            const codeDivisionInput = document.getElementById("code-division-input")

            const passport = {
                id: idInput.value,
                series: seriesInput.value,
                number: numberInput.value,
                issued: issuedInput.value,
                dateOfIssue: dateOfIssueInput.value,
                codeDivision: codeDivisionInput.value
            }

            fetch("/api/passport/[[${id}]]", {
                method: 'PUT',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(passport)
            }).then(
                window.location.replace("/")
            ).catch((error) => console.log("error: " + error))
        }
    </script>
</head>
    <body>
        <form id = "update-passport" action="update-passport.html">
            <h1>Passport:</h1>

            <div class="row">
                <label for="id-input">ID:</label>
                <input id="id-input" type="text" readonly="readonly" name="id"/>
            </div>

            <div class="row">
                <label for="series-input">Series:</label>
                <input id="series-input" type="text" name="series">
            </div>

            <div class="row">
                <label for="number-input">Number:</label>
                <input id="number-input" type="text" name="number"/>
            </div>

            <div class="row">
                <label for="issued-input">Issued:</label>
                <input id="issued-input" type="text" name="issued"/>
            </div>

            <div class="row">
                <label for="date-of-issue-input">Date of Issue:</label>
                <input id="date-of-issue-input" type="text" name="dateOfIssue"/>
            </div>

            <div class="row">
                <label for="code-division-input">Code Division:</label>
                <input id="code-division-input" type="text" name="codeDivision"/>
            </div>

            <div class="row">
                <button type="button" onclick="updatePassport()">Save</button>
                <a href="list-passport.html" th:href="@{/}"><button type="button">Go Back</button></a>
            </div>

            <script>
                const params = {
                    method: 'GET'
                }

                const id = "[[${id}]]"

                console.log("id: " + id)

                fetch("/api/passport/" + id, params)
                    .then(response => response.json())
                    .then(data => {
                        const idInput = document.getElementById("id-input")
                        const seriesInput = document.getElementById("series-input")
                        const numberInput = document.getElementById("number-input")
                        const issuedInput = document.getElementById("issued-input")
                        const dateOfIssueInput = document.getElementById("date-of-issue-input")
                        const codeDivisionInput = document.getElementById("code-division-input")

                        idInput.value = data.id
                        seriesInput.value = data.series
                        numberInput.value = data.number
                        issuedInput.value = data.issued
                        dateOfIssueInput.value = data.dateOfIssue
                        codeDivisionInput.value = data.codeDivision
                    })
            </script>
        </form>
    </body>
</html>