<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dataSource" class="ru.otus.dao.CsvDataSource">
        <constructor-arg index="0" value="/data.csv"/>
        <constructor-arg index="1" value=";"/>
    </bean>

    <bean id="questionDao" class="ru.otus.dao.QuestionDaoImpl">
        <constructor-arg index="0" ref="dataSource"/>
    </bean>

    <bean id="showQuestionService" class="ru.otus.service.ConvertQuestionToStringToStringServiceImpl"/>

    <bean id="questionService" class="ru.otus.service.QuestionServiceImpl">
        <constructor-arg index="0" ref="showQuestionService"/>
        <constructor-arg index="1" ref="questionDao"/>
    </bean>
</beans>